name: Run pytest

on:
  [ push ]

jobs:

  style:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ 3.10 ]

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run pytest
        run: |
          pytest
